body {
  background-color: #212121;
}

#title {
  color : white;
  font-size: 128px;
  margin-top: 40%;
}

green {
  color:lime;
}

green a:link {
  color: lime;
}
green a:visited {
  color: lime;
}
green a:hover {
  color: lime;
}


#inner {
  display:table;
  margin : 0 auto;
}
.spinner-layer {
  border-color: lime;
}

.reveal-list{
  opacity: 0;
  color: white;
}

#loader {
  margin:33%;
}

#stagger-list {
  text-align:center;
}
