body {
  background-color: #212121;
  background-image:url('serialexperiments.gif');
  background-size: cover;
}

#title {
  color : white;
  font-size: 100px;
  margin-top: 40%;
}

green {
  color:lime;
}
green a:link {
  color: lime;
}
green a:visited {
  color: lime;
}
green a:hover {
  color: lime;
}


#inner {
  display:table;
  margin : 0 auto;
}
.spinner-layer {
  border-color: lime;
}

.reveal-list{
  opacity: 0;
  color: white;
}

#song-title {
  word-break: break-all;
}

#loader {
  /*margin:33%;*/
  width:100%;
}

#stagger-list {
  text-align:center;
}
